aiofiles == 0.6.0
alembic == 1.4.3
asyncpg == 0.25.0
fastapi == 0.61.2
Jinja2 == 2.11.2
jose == 1.0.0
markdown2 == 2.3.10
MarkupSafe == 2.0.1
passlib == 1.7.4
psycopg2 == 2.9.3
pydantic == 1.7.2
pytest == 6.1.2
python-dotenv == 0.15.0
uvicorn == 0.12.2
